* {
	font-family: JetBrainsMono Nerd Font;
	font-size: 14px;
	border: none;
	background: transparent;
	color: #cdd6f4;
}
window#waybar {
	background-color: #1e1e2e;
	color: #cdd6f4;
}

#language {
	color: #cba6f7;
}
#workspace {
	font-size: 40px;
}
